.widget_thebestvideo_widget .widget-title {
	margin-bottom: 4px;
}

.tbv_about {
	font-size: x-small;
	padding-bottom: 10px;
	text-align: center;
}

.tbv_description {
	font-size: x-small;
	padding-bottom: 10px;
}